@import ./Variables
@import ./MediaQueries

.container
  display: flex
  align-items: center
  justify-content: center

  height: 90vh
  width: 100%

  @media screen and ( max-width: 1100px )
    flex-direction: column

    height: max-content
    width: 90%

    margin: 0 auto
    padding: 3rem 0

    & > :first-child
      margin-bottom: 3rem

.details
  display: flex
  flex-direction: column
  background: $card-background

  padding: 1.75rem

  border-radius: 12px

  @media screen and ( max-width: 1100px )
    width: 100%

.fixed
  @media screen and ( max-width: 1100px )
    display: grid
    grid-template-columns: 1fr 1fr

    & :nth-child(odd)
      margin-right: 1rem

.inputs
  font-size: 1rem
  text-align: center

  background: $input-background
  color: $font-color

  padding: 0.75rem
  margin: 0.475rem 0

  border-radius: 12px

  @include max-tablet-width
    font-size: 0.875rem
    padding: 0.625rem

  @media screen and ( max-width: 1100px )
    width: 100%

  @include max-mobile-width
    font-size: 0.75rem

.buttonsContainer
  display: flex
  flex-direction: column

  @media screen and ( max-width: 1100px )
    flex-direction: row
    align-items: center
    justify-content: center

    & :first-child
      margin-right: 1rem
    
    & *
      width: 108px

  @include max-mobile-width
    flex-direction: column

    & :first-child
      margin-right: 0
    
    & *
      width: 100%

.button
  font-size: 1rem

  background: $green
  color: $font-color

  padding: 0.75rem
  margin: 0.475rem 0

  border-radius: 12px

  cursor: pointer

  &:nth-of-type(2)
    background: $red

  @include max-tablet-width
    font-size: 0.875rem

  @include max-mobile-width
    font-size: 0.75rem